// declaring sass variables
// end of variable declaration

//define mix-ins
.center {
   display: flex;
   justify-content: center;
}
//end of mix-ins



//styling for jumbotron
.jumbotron {
   margin-bottom: 0;
   #jumbotron-header {
      font-size: 6em;
      @extend .center;
   }
   #jumbotron-p {
      @extend .center;
      font-size: 3em;
   }
}
//end styling for jumbotron

//styling for dice
.die {
   border: 2px solid black;
   border-radius: 0.2em;
   height: 2em;
   width: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2em;
   margin-right: 1em;
}
//end styling for dice

//styling for players
.dice {
   display: flex;
   flex-direction: row;
}

.attacker-components {
   @extend .dice;
}

.defender-components {
   @extend .dice;
}

.risk-players {
   margin-left: 3em;
   .attacker {
      h3 {
         text-decoration: underline;
      }
      .attacker-die {
         @extend .die;
         background-color: red;
         .attacker-number {
            color: white;
         }
      }
   }
   .defender {
      h3 {
         text-decoration: underline;
      }
      .defender-die {
         @extend .die;

      }
   }
}
//end styling for players

//button
.btn {
   margin-top: 1em;
}
//end button
